@import './styles/fonts.css';
@import './styles/tailwind.css';
@import './styles/theme.css';
@import './styles/leaflet.css';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f0;
}

::-webkit-scrollbar-thumb {
  background: #c8cdc6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #004c22;
}
